# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [1]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [2]:
s ='hello'
# Reverse the string using slicing
s[-1::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [3]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [4]:
# Method 2:
s[-1::1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [6]:
# Method 1:
x=list((0,0,0))
x

[0, 0, 0]

In [7]:
# Method 2:
x=[0,0,0]
x

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [11]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [13]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [15]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [16]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [23]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [30]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [36]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {} kilometers.'.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [37]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [41]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". **

In [21]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [51]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

### Write a Python program to swap two variables.

In [57]:
#methode1
x=1
y=2
print('x = {} and y = {}'.format(x,y))
z=x
x=y
y=z
print('x = {} and y = {}'.format(x,y))

x = 1 and y = 2
x = 2 and y = 1

In [60]:
#methode2
x=1
y=2
print('x = {} and y = {}'.format(x,y))
x=x+y
y=x-y
x=x-y
print('x = {} and y = {}'.format(x,y))

x = 1 and y = 2
x = 2 and y = 1

## Thanks